@use '@styles/func' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.root {
  max-width: rem(1568);
  padding-right: var(--pd-lg);
  padding-left: var(--pd-lg);
  margin: 0 auto;

  @include vp-1023 {
    padding-right: var(--pd-sm);
    padding-left: var(--pd-sm);
  }
}
