@use '@styles/func' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.root {
  width: 100%;
  height: rem(60);
  padding: rem(20);
  font-family: inherit;
  color: var(--color-black);
  background-color: var(--color-white);
  border: none;
  border-radius: rem(8);
  outline: none;
  transition: $transition;
  transition-property: border-color, background-color;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  @include vp-1023 {
    height: rem(50);
    padding: rem(15) rem(20);
    border-radius: rem(8);
  }
}
