@use '@styles/func' as *;
@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.root {
  @include reset-btn;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: rem(18);
  line-height: rem(20);
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;
  transition: $transition;
  transition-property: color, background-color;
  outline: none;
  user-select: none;

  &_sm {
    height: rem(48);
    padding: rem(12) rem(20);
  }

  &_md {
    height: rem(60);
    padding: rem(20) rem(50);

    @include vp-1023 {
      height: rem(50);
      padding: rem(15) rem(50);
    }
  }

  &_white {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &:disabled {
    color: var(--color-white);
    background-color: var(--color-grey);
    pointer-events: none;
  }
}
