@import 'func';
@import 'variables';

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet - 0.1px) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: $tablet-small - 0.1px) {
    @content;
  }
}

@mixin mobile-large {
  @media (max-width: $mobile-large) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin reset-btn {
  font-family: inherit;
  padding: 0;
  background-color: var(--color-transparent);
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
