@use 'func';
@use 'variables';

@mixin desktop {
  @media (max-width: variables.$desktop) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: (variables.$desktop - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (variables.$tablet - 0.1px)) {
    @content;
  }
}

@mixin tablet-small {
  @media (max-width: (variables.$tablet-small - 0.1px)) {
    @content;
  }
}

@mixin mobile-large {
  @media (max-width: variables.$mobile-large) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: variables.$mobile) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: variables.$tablet) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: variables.$retina-dpi), (min-resolution: variables.$retina-dppx) {
    @content;
  }
}

@mixin h1 {
  font-weight: 400;
  font-size: func.rem(96);
  line-height: 1.04;

  @include tablet-small {
    font-size: func.rem(38);
  }
}

@mixin h2 {
  font-weight: 400;
  font-size: func.rem(80);
  line-height: 0.9;

  @include tablet-small {
    font-size: func.rem(32);
  }
}

@mixin h3 {
  font-weight: 400;
  font-size: func.rem(30);
  line-height: 1.33;

  @include tablet-small {
    font-size: func.rem(24);
  }
}

@mixin h4 {
  font-weight: 400;
  font-size: func.rem(20);
  line-height: 1.2;

  @include tablet-small {
    font-size: func.rem(18);
  }
}

@mixin text {
  font-weight: 400;
  font-size: func.rem(16);
  line-height: func.rem(20);
}

@mixin reset-btn {
  font-family: inherit;
  padding: 0;
  background-color: var(--color-transparent);
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}
