//breakpoints
$desktop: 1280px;
$tablet: 1024px;
$tablet-small: 768px;
$mobile-large: 480px;
$mobile: 390px;

//Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition: $transition-duration $transition-timing-function;
