@use '@styles/func' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.root {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: rem(10);
  background-color: rgba(#000, 0.6);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(400);
  padding: rem(20) 0;
  margin: auto;
  background-color: var(--color-white);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: rem(20);
}
