@use '@styles/func' as *;
@use '@styles/mixins' as *;

.root {
  display: flex;
  align-items: center;
}

.item {
  margin-right: rem(12);

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;
  width: rem(24);
  line-height: 0;

  svg {
    width: 100%;
    height: auto;
  }
}
