@use '@styles/func' as *;
@use '@styles/mixins' as *;
@use '@styles/variables' as *;

.root {
  width: 100%;
  padding: rem(40) 0;
}

.title {
  color: var(--color-blue);
  text-align: center;
  margin: 0 auto rem(32);
}

.image {
  display: block;
  width: 100%;
  max-width: rem(512);
  height: auto;
  margin: 0 auto;

  @include vp-1023 {
    max-width: rem(400);
  }
}
